In [5]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
import collections

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("Practice") \
    .getOrCreate()

In [6]:
spark

In [10]:
df1 = spark.read.csv("us_counties_pop_est_2019.csv", header=True, inferSchema=True)

In [4]:
df1.show()

+----------+-----------+------+----------+----------------+----------+----------+------------------+------------------+------------+------------+-----------+-----------+-----------------------+------------------+-------------+
|state_fips|county_fips|region|state_name|     county_name| area_land|area_water|internal_point_lat|internal_point_lon|pop_est_2018|pop_est_2019|births_2019|deaths_2019|international_migr_2019|domestic_migr_2019|residual_2019|
+----------+-----------+------+----------+----------------+----------+----------+------------------+------------------+------------+------------+-----------+-----------+-----------------------+------------------+-------------+
|         1|          1|     3|   Alabama|  Autauga County|1539602137|  25706961|        32.5322367|       -86.6464395|       55533|       55869|        624|        541|                    -16|               270|           -1|
|         1|          3|     3|   Alabama|  Baldwin County|4117621645|1132980868|        30.6592183|       -87.7460666|      217855|      223234|       2304|       2326|                     80|              5297|           24|
|         1|          5|     3|   Alabama|  Barbour County|2292160139|  50523213|        31.8702531|       -85.4051035|       24872|       24686|        256|        312|                     13|              -141|           -2|
|         1|          7|     3|   Alabama|     Bibb County|1612167476|   9602089|        33.0158929|       -87.1271475|       22367|       22394|        240|        252|                     10|                31|           -2|
|         1|          9|     3|   Alabama|   Blount County|1670103866|  15015467|        33.9773575|         -86.56644|       57771|       57826|        651|        657|                      6|                59|           -4|
|         1|         11|     3|   Alabama|  Bullock County|1613076054|   6038093|        32.1017589|       -85.7172613|       10174|       10101|        109|        109|                     -1|               -72|            0|
|         1|         13|     3|   Alabama|   Butler County|2012002531|   2701198|         31.751667|       -86.6819689|       19631|       19448|        213|        272|                     18|              -141|           -1|
|         1|         15|     3|   Alabama|  Calhoun County|1569195268|  16587192|        33.7705162|       -85.8279089|      114331|      113605|       1269|       1532|                     14|              -475|           -2|
|         1|         17|     3|   Alabama| Chambers County|1545085607|  16971700|        32.9155039|       -85.3940321|       33600|       33254|        354|        441|                      6|              -265|            0|
|         1|         19|     3|   Alabama| Cherokee County|1433623319| 120308342|        34.0695153|       -85.6542417|       26014|       26196|        222|        343|                     -3|               306|            0|
|         1|         21|     3|   Alabama|  Chilton County|1794477075|  20592142|        32.8540514|       -86.7266071|       44163|       44428|        551|        503|                     35|               184|           -2|
|         1|         23|     3|   Alabama|  Choctaw County|2365869841|  19144469|        31.9909539|       -88.2488894|       12833|       12589|        133|        176|                     -2|              -199|            0|
|         1|         25|     3|   Alabama|   Clarke County|3207494106|  36657891|        31.6855211|       -87.8186244|       23918|       23622|        266|        324|                     -5|              -232|           -1|
|         1|         27|     3|   Alabama|     Clay County|1564251834|   5285207|        33.2703999|       -85.8635254|       13294|       13235|        143|        187|                     -2|               -12|           -1|
|         1|         29|     3|   Alabama| Cleburne County|1450663786|   2354896|        33.6719637|       -85.5161261|       15010|       14910|        187|        189|                    -11|               -86|           -1|
|         1|         31|     3|   Alabama|   Coffee County|1758565919|   3907189|         31.402258|       -85.9896022|       51950|       52342|        599|        570|                     34|               334|           -5|
|         1|         33|     3|   Alabama|  Colbert County|1535202321|  79700278|         34.703112|       -87.8014569|       55004|       55241|        630|        719|                     73|               256|           -3|
|         1|         35|     3|   Alabama|  Conecuh County|2202007855|   6632046|        31.4309257|       -86.9887221|       12292|       12067|        123|        182|                      1|              -167|            0|
|         1|         37|     3|   Alabama|    Coosa County|1685850815|  39987271|        32.9314453|       -86.2434818|       10643|       10663|         89|        122|                     13|                42|           -2|
|         1|         39|     3|   Alabama|Covington County|2669134207|  34226200|        31.2439873|       -86.4487206|       36953|       37049|        413|        543|                     -5|               235|           -4|
+----------+-----------+------+----------+----------------+----------+----------+------------------+------------------+------------+------------+-----------+-----------+-----------------------+------------------+-------------+
only showing top 20 rows

24/06/15 16:16:12 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [5]:
df1.printSchema()

root
 |-- state_fips: integer (nullable = true)
 |-- county_fips: integer (nullable = true)
 |-- region: integer (nullable = true)
 |-- state_name: string (nullable = true)
 |-- county_name: string (nullable = true)
 |-- area_land: long (nullable = true)
 |-- area_water: long (nullable = true)
 |-- internal_point_lat: double (nullable = true)
 |-- internal_point_lon: double (nullable = true)
 |-- pop_est_2018: integer (nullable = true)
 |-- pop_est_2019: integer (nullable = true)
 |-- births_2019: integer (nullable = true)
 |-- deaths_2019: integer (nullable = true)
 |-- international_migr_2019: integer (nullable = true)
 |-- domestic_migr_2019: integer (nullable = true)
 |-- residual_2019: integer (nullable = true)

In [6]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [7]:
df1.columns

['state_fips',
 'county_fips',
 'region',
 'state_name',
 'county_name',
 'area_land',
 'area_water',
 'internal_point_lat',
 'internal_point_lon',
 'pop_est_2018',
 'pop_est_2019',
 'births_2019',
 'deaths_2019',
 'international_migr_2019',
 'domestic_migr_2019',
 'residual_2019']

In [8]:
df1.head(5)

[Row(state_fips=1, county_fips=1, region=3, state_name='Alabama', county_name='Autauga County', area_land=1539602137, area_water=25706961, internal_point_lat=32.5322367, internal_point_lon=-86.6464395, pop_est_2018=55533, pop_est_2019=55869, births_2019=624, deaths_2019=541, international_migr_2019=-16, domestic_migr_2019=270, residual_2019=-1),
 Row(state_fips=1, county_fips=3, region=3, state_name='Alabama', county_name='Baldwin County', area_land=4117621645, area_water=1132980868, internal_point_lat=30.6592183, internal_point_lon=-87.7460666, pop_est_2018=217855, pop_est_2019=223234, births_2019=2304, deaths_2019=2326, international_migr_2019=80, domestic_migr_2019=5297, residual_2019=24),
 Row(state_fips=1, county_fips=5, region=3, state_name='Alabama', county_name='Barbour County', area_land=2292160139, area_water=50523213, internal_point_lat=31.8702531, internal_point_lon=-85.4051035, pop_est_2018=24872, pop_est_2019=24686, births_2019=256, deaths_2019=312, international_migr_2019=13, domestic_migr_2019=-141, residual_2019=-2),
 Row(state_fips=1, county_fips=7, region=3, state_name='Alabama', county_name='Bibb County', area_land=1612167476, area_water=9602089, internal_point_lat=33.0158929, internal_point_lon=-87.1271475, pop_est_2018=22367, pop_est_2019=22394, births_2019=240, deaths_2019=252, international_migr_2019=10, domestic_migr_2019=31, residual_2019=-2),
 Row(state_fips=1, county_fips=9, region=3, state_name='Alabama', county_name='Blount County', area_land=1670103866, area_water=15015467, internal_point_lat=33.9773575, internal_point_lon=-86.56644, pop_est_2018=57771, pop_est_2019=57826, births_2019=651, deaths_2019=657, international_migr_2019=6, domestic_migr_2019=59, residual_2019=-4)]

In [9]:
df1.select("region").show()

+------+
|region|
+------+
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
|     3|
+------+
only showing top 20 rows

In [10]:
df1.select(["state_name", "county_name"]).show()

+----------+----------------+
|state_name|     county_name|
+----------+----------------+
|   Alabama|  Autauga County|
|   Alabama|  Baldwin County|
|   Alabama|  Barbour County|
|   Alabama|     Bibb County|
|   Alabama|   Blount County|
|   Alabama|  Bullock County|
|   Alabama|   Butler County|
|   Alabama|  Calhoun County|
|   Alabama| Chambers County|
|   Alabama| Cherokee County|
|   Alabama|  Chilton County|
|   Alabama|  Choctaw County|
|   Alabama|   Clarke County|
|   Alabama|     Clay County|
|   Alabama| Cleburne County|
|   Alabama|   Coffee County|
|   Alabama|  Colbert County|
|   Alabama|  Conecuh County|
|   Alabama|    Coosa County|
|   Alabama|Covington County|
+----------+----------------+
only showing top 20 rows

In [11]:
df1.dtypes

[('state_fips', 'int'),
 ('county_fips', 'int'),
 ('region', 'int'),
 ('state_name', 'string'),
 ('county_name', 'string'),
 ('area_land', 'bigint'),
 ('area_water', 'bigint'),
 ('internal_point_lat', 'double'),
 ('internal_point_lon', 'double'),
 ('pop_est_2018', 'int'),
 ('pop_est_2019', 'int'),
 ('births_2019', 'int'),
 ('deaths_2019', 'int'),
 ('international_migr_2019', 'int'),
 ('domestic_migr_2019', 'int'),
 ('residual_2019', 'int')]

In [12]:
df1.describe().show()

24/06/08 21:13:01 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+------------------+------------------+----------+----------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+------------------+-----------------+
|summary|       state_fips|       county_fips|            region|state_name|     county_name|           area_land|          area_water|internal_point_lat|internal_point_lon|      pop_est_2018|      pop_est_2019|       births_2019|       deaths_2019|international_migr_2019|domestic_migr_2019|    residual_2019|
+-------+-----------------+------------------+------------------+----------+----------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+------------------+-----------------+
|  count|             3142|              3142|              3142|      3142|            3142|                3142|                3142|              3142|              3142|              3142|              3142|              3142|              3142|                   3142|              3142|             3142|
|   mean|30.28007638446849|103.57288351368555| 2.668682367918523|      NULL|            NULL|2.9123300066429024E9|2.1772132937873966E8|  38.4550274504773|-92.17764696384468|103974.37969446213|104468.33959261616|1206.7829408020368| 902.3036282622534|     189.48058561425844|               0.0|              0.0|
| stddev|15.14433931546792|107.70405998228831|0.8031493139138958|      NULL|            NULL| 9.361874959553654E9| 1.235181967905609E9| 5.308739126712576|13.750471449581712| 332641.7864193669| 333456.7109031428|4004.7577257415405|2474.7174137113893|     1231.6918202181382| 3447.761164869758|12.97640697012028|
|    min|                1|                 1|                 1|   Alabama|Abbeville County|             5300262|                   0|        19.5977643|      -164.1889119|                86|                86|                 0|                 0|                   -387|           -100808|             -143|
|    max|               56|               840|                 4|   Wyoming|  Ziebach County|        377038836685|         25973300388|        69.4493427|       179.6211882|          10073906|          10039107|            112963|             68164|                  38016|             57477|              315|
+-------+-----------------+------------------+------------------+----------+----------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+------------------+-----------------+

In [13]:
df1.withColumn("region multiplied with 2", df1["region"] * 2).show()

+----------+-----------+------+----------+----------------+----------+----------+------------------+------------------+------------+------------+-----------+-----------+-----------------------+------------------+-------------+------------------------+
|state_fips|county_fips|region|state_name|     county_name| area_land|area_water|internal_point_lat|internal_point_lon|pop_est_2018|pop_est_2019|births_2019|deaths_2019|international_migr_2019|domestic_migr_2019|residual_2019|region multiplied with 2|
+----------+-----------+------+----------+----------------+----------+----------+------------------+------------------+------------+------------+-----------+-----------+-----------------------+------------------+-------------+------------------------+
|         1|          1|     3|   Alabama|  Autauga County|1539602137|  25706961|        32.5322367|       -86.6464395|       55533|       55869|        624|        541|                    -16|               270|           -1|                       6|
|         1|          3|     3|   Alabama|  Baldwin County|4117621645|1132980868|        30.6592183|       -87.7460666|      217855|      223234|       2304|       2326|                     80|              5297|           24|                       6|
|         1|          5|     3|   Alabama|  Barbour County|2292160139|  50523213|        31.8702531|       -85.4051035|       24872|       24686|        256|        312|                     13|              -141|           -2|                       6|
|         1|          7|     3|   Alabama|     Bibb County|1612167476|   9602089|        33.0158929|       -87.1271475|       22367|       22394|        240|        252|                     10|                31|           -2|                       6|
|         1|          9|     3|   Alabama|   Blount County|1670103866|  15015467|        33.9773575|         -86.56644|       57771|       57826|        651|        657|                      6|                59|           -4|                       6|
|         1|         11|     3|   Alabama|  Bullock County|1613076054|   6038093|        32.1017589|       -85.7172613|       10174|       10101|        109|        109|                     -1|               -72|            0|                       6|
|         1|         13|     3|   Alabama|   Butler County|2012002531|   2701198|         31.751667|       -86.6819689|       19631|       19448|        213|        272|                     18|              -141|           -1|                       6|
|         1|         15|     3|   Alabama|  Calhoun County|1569195268|  16587192|        33.7705162|       -85.8279089|      114331|      113605|       1269|       1532|                     14|              -475|           -2|                       6|
|         1|         17|     3|   Alabama| Chambers County|1545085607|  16971700|        32.9155039|       -85.3940321|       33600|       33254|        354|        441|                      6|              -265|            0|                       6|
|         1|         19|     3|   Alabama| Cherokee County|1433623319| 120308342|        34.0695153|       -85.6542417|       26014|       26196|        222|        343|                     -3|               306|            0|                       6|
|         1|         21|     3|   Alabama|  Chilton County|1794477075|  20592142|        32.8540514|       -86.7266071|       44163|       44428|        551|        503|                     35|               184|           -2|                       6|
|         1|         23|     3|   Alabama|  Choctaw County|2365869841|  19144469|        31.9909539|       -88.2488894|       12833|       12589|        133|        176|                     -2|              -199|            0|                       6|
|         1|         25|     3|   Alabama|   Clarke County|3207494106|  36657891|        31.6855211|       -87.8186244|       23918|       23622|        266|        324|                     -5|              -232|           -1|                       6|
|         1|         27|     3|   Alabama|     Clay County|1564251834|   5285207|        33.2703999|       -85.8635254|       13294|       13235|        143|        187|                     -2|               -12|           -1|                       6|
|         1|         29|     3|   Alabama| Cleburne County|1450663786|   2354896|        33.6719637|       -85.5161261|       15010|       14910|        187|        189|                    -11|               -86|           -1|                       6|
|         1|         31|     3|   Alabama|   Coffee County|1758565919|   3907189|         31.402258|       -85.9896022|       51950|       52342|        599|        570|                     34|               334|           -5|                       6|
|         1|         33|     3|   Alabama|  Colbert County|1535202321|  79700278|         34.703112|       -87.8014569|       55004|       55241|        630|        719|                     73|               256|           -3|                       6|
|         1|         35|     3|   Alabama|  Conecuh County|2202007855|   6632046|        31.4309257|       -86.9887221|       12292|       12067|        123|        182|                      1|              -167|            0|                       6|
|         1|         37|     3|   Alabama|    Coosa County|1685850815|  39987271|        32.9314453|       -86.2434818|       10643|       10663|         89|        122|                     13|                42|           -2|                       6|
|         1|         39|     3|   Alabama|Covington County|2669134207|  34226200|        31.2439873|       -86.4487206|       36953|       37049|        413|        543|                     -5|               235|           -4|                       6|
+----------+-----------+------+----------+----------------+----------+----------+------------------+------------------+------------+------------+-----------+-----------+-----------------------+------------------+-------------+------------------------+
only showing top 20 rows

In [14]:
df1.na.drop()

DataFrame[state_fips: int, county_fips: int, region: int, state_name: string, county_name: string, area_land: bigint, area_water: bigint, internal_point_lat: double, internal_point_lon: double, pop_est_2018: int, pop_est_2019: int, births_2019: int, deaths_2019: int, international_migr_2019: int, domestic_migr_2019: int, residual_2019: int]

In [53]:
df1.count()

3142

In [52]:
df1.select("state_name").distinct().show()

+-------------+
|   state_name|
+-------------+
|         Utah|
|       Hawaii|
|     Nebraska|
|      Vermont|
|Massachusetts|
|   New Mexico|
|    Minnesota|
|West Virginia|
|     Kentucky|
|     Missouri|
|         Ohio|
|    Louisiana|
|  Mississippi|
|       Nevada|
| Rhode Island|
|New Hampshire|
|    Tennessee|
|      Georgia|
|   Washington|
|      Florida|
+-------------+
only showing top 20 rows

In [54]:
df1.select("state_name").distinct().count()

51

In [15]:
df1.filter("births_2019 <= 500").select(["state_name", "county_name", "births_2019"]).show()

+----------+----------------+-----------+
|state_name|     county_name|births_2019|
+----------+----------------+-----------+
|   Alabama|  Barbour County|        256|
|   Alabama|     Bibb County|        240|
|   Alabama|  Bullock County|        109|
|   Alabama|   Butler County|        213|
|   Alabama| Chambers County|        354|
|   Alabama| Cherokee County|        222|
|   Alabama|  Choctaw County|        133|
|   Alabama|   Clarke County|        266|
|   Alabama|     Clay County|        143|
|   Alabama| Cleburne County|        187|
|   Alabama|  Conecuh County|        123|
|   Alabama|    Coosa County|         89|
|   Alabama|Covington County|        413|
|   Alabama| Crenshaw County|        137|
|   Alabama|   Dallas County|        438|
|   Alabama| Escambia County|        420|
|   Alabama|  Fayette County|        174|
|   Alabama| Franklin County|        432|
|   Alabama|   Geneva County|        278|
|   Alabama|   Greene County|         96|
+----------+----------------+-----------+
only showing top 20 rows

In [12]:
from pyspark.sql.functions import sum , mean, round

In [17]:
df1.filter("births_2019 <= 500 AND state_name == 'New York'").select(["state_name", "county_name", "births_2019"]).show()

+----------+-----------------+-----------+
|state_name|      county_name|births_2019|
+----------+-----------------+-----------+
|  New York|  Allegany County|        445|
|  New York|  Chenango County|        470|
|  New York|  Columbia County|        489|
|  New York|  Cortland County|        472|
|  New York|  Delaware County|        345|
|  New York|     Essex County|        308|
|  New York|  Franklin County|        444|
|  New York|    Greene County|        384|
|  New York|  Hamilton County|         28|
|  New York|     Lewis County|        322|
|  New York|Livingston County|        478|
|  New York|   Orleans County|        389|
|  New York|    Otsego County|        485|
|  New York| Schoharie County|        237|
|  New York|  Schuyler County|        146|
|  New York|    Seneca County|        318|
|  New York|     Tioga County|        425|
|  New York|   Wyoming County|        328|
|  New York|     Yates County|        316|
+----------+-----------------+-----------+

In [18]:
df1.filter("NOT (births_2019 <= 500)").select(["state_name", "county_name", "births_2019"]).show()

+----------+-----------------+-----------+
|state_name|      county_name|births_2019|
+----------+-----------------+-----------+
|   Alabama|   Autauga County|        624|
|   Alabama|   Baldwin County|       2304|
|   Alabama|    Blount County|        651|
|   Alabama|   Calhoun County|       1269|
|   Alabama|   Chilton County|        551|
|   Alabama|    Coffee County|        599|
|   Alabama|   Colbert County|        630|
|   Alabama|   Cullman County|        990|
|   Alabama|      Dale County|        648|
|   Alabama|    DeKalb County|        795|
|   Alabama|    Elmore County|        932|
|   Alabama|    Etowah County|       1175|
|   Alabama|   Houston County|       1304|
|   Alabama|   Jackson County|        562|
|   Alabama| Jefferson County|       8422|
|   Alabama|Lauderdale County|        876|
|   Alabama|       Lee County|       1825|
|   Alabama| Limestone County|       1014|
|   Alabama|   Madison County|       4242|
|   Alabama|  Marshall County|       1395|
+----------+-----------------+-----------+
only showing top 20 rows

In [8]:
df1.groupBy("state_name").sum("births_2019").orderBy("state_name").show()

+--------------------+----------------+
|          state_name|sum(births_2019)|
+--------------------+----------------+
|             Alabama|           57313|
|              Alaska|           10031|
|             Arizona|           81942|
|            Arkansas|           36640|
|          California|          462617|
|            Colorado|           64524|
|         Connecticut|           34567|
|            Delaware|           10683|
|District of Columbia|            9493|
|             Florida|          221695|
|             Georgia|          127873|
|              Hawaii|           16878|
|               Idaho|           22220|
|            Illinois|          144299|
|             Indiana|           80711|
|                Iowa|           37672|
|              Kansas|           35457|
|            Kentucky|           53471|
|           Louisiana|           58498|
|               Maine|           12073|
+--------------------+----------------+
only showing top 20 rows

In [13]:
df1.groupBy("state_name").agg(sum("births_2019").alias("total_births_2019"),
                             round(mean("births_2019"), 2).alias("average_births_2019")).show()

+--------------------+-----------------+-------------------+
|          state_name|total_births_2019|average_births_2019|
+--------------------+-----------------+-------------------+
|                Utah|            48642|            1677.31|
|              Hawaii|            16878|             3375.6|
|           Minnesota|            67642|             777.49|
|                Ohio|           134291|            1526.03|
|            Arkansas|            36640|             488.53|
|              Oregon|            43305|            1202.92|
|               Texas|           378664|             1490.8|
|        North Dakota|            10536|             198.79|
|        Pennsylvania|           135190|            2017.76|
|         Connecticut|            34567|            4320.88|
|            Nebraska|            25343|             272.51|
|             Vermont|             5581|             398.64|
|              Nevada|            35932|            2113.65|
|          Washington|            87950|            2255.13|
|            Illinois|           144299|             1414.7|
|            Oklahoma|            48759|             633.23|
|District of Columbia|             9493|             9493.0|
|            Delaware|            10683|             3561.0|
|              Alaska|            10031|              345.9|
|          New Mexico|            23125|             700.76|
+--------------------+-----------------+-------------------+
only showing top 20 rows

In [21]:
spark.conf.get("spark.sql.shuffle.partitions")

'200'

In [22]:
spark.conf.set("spark.sql.shuffle.partitions", 50)

In [23]:
spark.conf.get("spark.sql.shuffle.partitions")

'50'

In [24]:
df1.createOrReplaceTempView("us_counties_pop_est_2019_tbl")

In [25]:
spark.sql("""SELECT state_name, county_name, births_2019 
            FROM us_counties_pop_est_2019_tbl""").show(10)

+----------+---------------+-----------+
|state_name|    county_name|births_2019|
+----------+---------------+-----------+
|   Alabama| Autauga County|        624|
|   Alabama| Baldwin County|       2304|
|   Alabama| Barbour County|        256|
|   Alabama|    Bibb County|        240|
|   Alabama|  Blount County|        651|
|   Alabama| Bullock County|        109|
|   Alabama|  Butler County|        213|
|   Alabama| Calhoun County|       1269|
|   Alabama|Chambers County|        354|
|   Alabama|Cherokee County|        222|
+----------+---------------+-----------+
only showing top 10 rows

In [26]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, rank, dense_rank, percent_rank, ntile, cume_dist, lag, lead, first, last

In [27]:
window_spec = Window.partitionBy("state_name").orderBy("births_2019")

In [28]:
df_w1 = df1.withColumn("row_number", row_number().over(window_spec))
df_w1.select(["state_name", "county_name", "births_2019", "row_number"]).show()

+----------+-----------------+-----------+----------+
|state_name|      county_name|births_2019|row_number|
+----------+-----------------+-----------+----------+
|   Alabama|     Coosa County|         89|         1|
|   Alabama|     Perry County|         95|         2|
|   Alabama|    Greene County|         96|         3|
|   Alabama|   Bullock County|        109|         4|
|   Alabama|   Lowndes County|        116|         5|
|   Alabama|   Conecuh County|        123|         6|
|   Alabama|   Choctaw County|        133|         7|
|   Alabama|    Wilcox County|        133|         8|
|   Alabama|    Sumter County|        136|         9|
|   Alabama|  Crenshaw County|        137|        10|
|   Alabama|      Clay County|        143|        11|
|   Alabama|     Lamar County|        159|        12|
|   Alabama|Washington County|        165|        13|
|   Alabama|     Henry County|        167|        14|
|   Alabama|     Macon County|        172|        15|
|   Alabama|   Fayette County|        174|        16|
|   Alabama|  Cleburne County|        187|        17|
|   Alabama|      Hale County|        190|        18|
|   Alabama|    Monroe County|        199|        19|
|   Alabama|   Pickens County|        205|        20|
+----------+-----------------+-----------+----------+
only showing top 20 rows

In [29]:
df_w2 = df1.withColumn("rank", rank().over(window_spec))

In [30]:
result_df1 = df_w2.filter(df_w2.rank == 1)
result_df1.select(["state_name", "county_name", "births_2019", "rank"]).show()

+--------------------+--------------------+-----------+----+
|          state_name|         county_name|births_2019|rank|
+--------------------+--------------------+-----------+----+
|             Alabama|        Coosa County|         89|   1|
|              Alaska|Yakutat City and ...|          4|   1|
|             Arizona|     Greenlee County|        144|   1|
|            Arkansas|      Calhoun County|         39|   1|
|          California|       Alpine County|         10|   1|
|            Colorado|     Hinsdale County|          2|   1|
|         Connecticut|      Windham County|       1060|   1|
|            Delaware|         Kent County|       2127|   1|
|District of Columbia|District of Columbia|       9493|   1|
|             Florida|    Lafayette County|         63|   1|
|             Georgia|   Taliaferro County|         13|   1|
|              Hawaii|      Kalawao County|          0|   1|
|               Idaho|        Clark County|          8|   1|
|            Illinois|         Pope County|         25|   1|
|             Indiana|        Union County|         66|   1|
|                Iowa|        Adams County|         29|   1|
|              Kansas|         Lane County|         13|   1|
|            Kentucky|    Robertson County|         22|   1|
|           Louisiana|       Tensas Parish|         47|   1|
|               Maine|  Piscataquis County|        121|   1|
+--------------------+--------------------+-----------+----+
only showing top 20 rows

In [31]:
df_cte1 = df1.groupBy("state_name").agg(sum("births_2019").alias("total_births_2019"))

In [32]:
from pyspark.sql.functions import max

In [33]:
df_cte1.select(["state_name", "total_births_2019"]).agg(max("total_births_2019")).show()

+----------------------+
|max(total_births_2019)|
+----------------------+
|                462617|
+----------------------+

In [34]:
max_births = df_cte1.agg(max("total_births_2019").alias("max_births")).collect()[0]["max_births"]

In [35]:
df_cte1.filter(df_cte1.total_births_2019 == max_births).show()

+----------+-----------------+
|state_name|total_births_2019|
+----------+-----------------+
|California|           462617|
+----------+-----------------+

In [36]:
df1.head(10)

[Row(state_fips=1, county_fips=1, region=3, state_name='Alabama', county_name='Autauga County', area_land=1539602137, area_water=25706961, internal_point_lat=32.5322367, internal_point_lon=-86.6464395, pop_est_2018=55533, pop_est_2019=55869, births_2019=624, deaths_2019=541, international_migr_2019=-16, domestic_migr_2019=270, residual_2019=-1),
 Row(state_fips=1, county_fips=3, region=3, state_name='Alabama', county_name='Baldwin County', area_land=4117621645, area_water=1132980868, internal_point_lat=30.6592183, internal_point_lon=-87.7460666, pop_est_2018=217855, pop_est_2019=223234, births_2019=2304, deaths_2019=2326, international_migr_2019=80, domestic_migr_2019=5297, residual_2019=24),
 Row(state_fips=1, county_fips=5, region=3, state_name='Alabama', county_name='Barbour County', area_land=2292160139, area_water=50523213, internal_point_lat=31.8702531, internal_point_lon=-85.4051035, pop_est_2018=24872, pop_est_2019=24686, births_2019=256, deaths_2019=312, international_migr_2019=13, domestic_migr_2019=-141, residual_2019=-2),
 Row(state_fips=1, county_fips=7, region=3, state_name='Alabama', county_name='Bibb County', area_land=1612167476, area_water=9602089, internal_point_lat=33.0158929, internal_point_lon=-87.1271475, pop_est_2018=22367, pop_est_2019=22394, births_2019=240, deaths_2019=252, international_migr_2019=10, domestic_migr_2019=31, residual_2019=-2),
 Row(state_fips=1, county_fips=9, region=3, state_name='Alabama', county_name='Blount County', area_land=1670103866, area_water=15015467, internal_point_lat=33.9773575, internal_point_lon=-86.56644, pop_est_2018=57771, pop_est_2019=57826, births_2019=651, deaths_2019=657, international_migr_2019=6, domestic_migr_2019=59, residual_2019=-4),
 Row(state_fips=1, county_fips=11, region=3, state_name='Alabama', county_name='Bullock County', area_land=1613076054, area_water=6038093, internal_point_lat=32.1017589, internal_point_lon=-85.7172613, pop_est_2018=10174, pop_est_2019=10101, births_2019=109, deaths_2019=109, international_migr_2019=-1, domestic_migr_2019=-72, residual_2019=0),
 Row(state_fips=1, county_fips=13, region=3, state_name='Alabama', county_name='Butler County', area_land=2012002531, area_water=2701198, internal_point_lat=31.751667, internal_point_lon=-86.6819689, pop_est_2018=19631, pop_est_2019=19448, births_2019=213, deaths_2019=272, international_migr_2019=18, domestic_migr_2019=-141, residual_2019=-1),
 Row(state_fips=1, county_fips=15, region=3, state_name='Alabama', county_name='Calhoun County', area_land=1569195268, area_water=16587192, internal_point_lat=33.7705162, internal_point_lon=-85.8279089, pop_est_2018=114331, pop_est_2019=113605, births_2019=1269, deaths_2019=1532, international_migr_2019=14, domestic_migr_2019=-475, residual_2019=-2),
 Row(state_fips=1, county_fips=17, region=3, state_name='Alabama', county_name='Chambers County', area_land=1545085607, area_water=16971700, internal_point_lat=32.9155039, internal_point_lon=-85.3940321, pop_est_2018=33600, pop_est_2019=33254, births_2019=354, deaths_2019=441, international_migr_2019=6, domestic_migr_2019=-265, residual_2019=0),
 Row(state_fips=1, county_fips=19, region=3, state_name='Alabama', county_name='Cherokee County', area_land=1433623319, area_water=120308342, internal_point_lat=34.0695153, internal_point_lon=-85.6542417, pop_est_2018=26014, pop_est_2019=26196, births_2019=222, deaths_2019=343, international_migr_2019=-3, domestic_migr_2019=306, residual_2019=0)]

In [37]:
df1.show()

+----------+-----------+------+----------+----------------+----------+----------+------------------+------------------+------------+------------+-----------+-----------+-----------------------+------------------+-------------+
|state_fips|county_fips|region|state_name|     county_name| area_land|area_water|internal_point_lat|internal_point_lon|pop_est_2018|pop_est_2019|births_2019|deaths_2019|international_migr_2019|domestic_migr_2019|residual_2019|
+----------+-----------+------+----------+----------------+----------+----------+------------------+------------------+------------+------------+-----------+-----------+-----------------------+------------------+-------------+
|         1|          1|     3|   Alabama|  Autauga County|1539602137|  25706961|        32.5322367|       -86.6464395|       55533|       55869|        624|        541|                    -16|               270|           -1|
|         1|          3|     3|   Alabama|  Baldwin County|4117621645|1132980868|        30.6592183|       -87.7460666|      217855|      223234|       2304|       2326|                     80|              5297|           24|
|         1|          5|     3|   Alabama|  Barbour County|2292160139|  50523213|        31.8702531|       -85.4051035|       24872|       24686|        256|        312|                     13|              -141|           -2|
|         1|          7|     3|   Alabama|     Bibb County|1612167476|   9602089|        33.0158929|       -87.1271475|       22367|       22394|        240|        252|                     10|                31|           -2|
|         1|          9|     3|   Alabama|   Blount County|1670103866|  15015467|        33.9773575|         -86.56644|       57771|       57826|        651|        657|                      6|                59|           -4|
|         1|         11|     3|   Alabama|  Bullock County|1613076054|   6038093|        32.1017589|       -85.7172613|       10174|       10101|        109|        109|                     -1|               -72|            0|
|         1|         13|     3|   Alabama|   Butler County|2012002531|   2701198|         31.751667|       -86.6819689|       19631|       19448|        213|        272|                     18|              -141|           -1|
|         1|         15|     3|   Alabama|  Calhoun County|1569195268|  16587192|        33.7705162|       -85.8279089|      114331|      113605|       1269|       1532|                     14|              -475|           -2|
|         1|         17|     3|   Alabama| Chambers County|1545085607|  16971700|        32.9155039|       -85.3940321|       33600|       33254|        354|        441|                      6|              -265|            0|
|         1|         19|     3|   Alabama| Cherokee County|1433623319| 120308342|        34.0695153|       -85.6542417|       26014|       26196|        222|        343|                     -3|               306|            0|
|         1|         21|     3|   Alabama|  Chilton County|1794477075|  20592142|        32.8540514|       -86.7266071|       44163|       44428|        551|        503|                     35|               184|           -2|
|         1|         23|     3|   Alabama|  Choctaw County|2365869841|  19144469|        31.9909539|       -88.2488894|       12833|       12589|        133|        176|                     -2|              -199|            0|
|         1|         25|     3|   Alabama|   Clarke County|3207494106|  36657891|        31.6855211|       -87.8186244|       23918|       23622|        266|        324|                     -5|              -232|           -1|
|         1|         27|     3|   Alabama|     Clay County|1564251834|   5285207|        33.2703999|       -85.8635254|       13294|       13235|        143|        187|                     -2|               -12|           -1|
|         1|         29|     3|   Alabama| Cleburne County|1450663786|   2354896|        33.6719637|       -85.5161261|       15010|       14910|        187|        189|                    -11|               -86|           -1|
|         1|         31|     3|   Alabama|   Coffee County|1758565919|   3907189|         31.402258|       -85.9896022|       51950|       52342|        599|        570|                     34|               334|           -5|
|         1|         33|     3|   Alabama|  Colbert County|1535202321|  79700278|         34.703112|       -87.8014569|       55004|       55241|        630|        719|                     73|               256|           -3|
|         1|         35|     3|   Alabama|  Conecuh County|2202007855|   6632046|        31.4309257|       -86.9887221|       12292|       12067|        123|        182|                      1|              -167|            0|
|         1|         37|     3|   Alabama|    Coosa County|1685850815|  39987271|        32.9314453|       -86.2434818|       10643|       10663|         89|        122|                     13|                42|           -2|
|         1|         39|     3|   Alabama|Covington County|2669134207|  34226200|        31.2439873|       -86.4487206|       36953|       37049|        413|        543|                     -5|               235|           -4|
+----------+-----------+------+----------+----------------+----------+----------+------------------+------------------+------------+------------+-----------+-----------+-----------------------+------------------+-------------+
only showing top 20 rows

In [38]:
df2 = spark.createDataFrame(
    [
        ("sue", 32),
        ("li", 3),
        ("bob", 75),
        ("heo", 13),
    ],
    ["first_name", "age"],
)

In [39]:
df2.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)

In [40]:
type(df2)

pyspark.sql.dataframe.DataFrame

In [41]:
df2.columns

['first_name', 'age']

In [42]:
df2.show()

+----------+---+
|first_name|age|
+----------+---+
|       sue| 32|
|        li|  3|
|       bob| 75|
|       heo| 13|
+----------+---+

In [43]:
from pyspark.sql.functions import col, when

In [44]:
result_df2 = df2.withColumn("life_stage", 
               when(col("age") < 13, "child")
              .when(col("age").between(13, 19), "teenager")
               .otherwise("adult")
              )

In [45]:
result_df2.show()

+----------+---+----------+
|first_name|age|life_stage|
+----------+---+----------+
|       sue| 32|     adult|
|        li|  3|     child|
|       bob| 75|     adult|
|       heo| 13|  teenager|
+----------+---+----------+

In [46]:
result_df2.where(col("life_stage").isin(["teenager", "adult"])).show()

+----------+---+----------+
|first_name|age|life_stage|
+----------+---+----------+
|       sue| 32|     adult|
|       bob| 75|     adult|
|       heo| 13|  teenager|
+----------+---+----------+

In [47]:
df1.columns

['state_fips',
 'county_fips',
 'region',
 'state_name',
 'county_name',
 'area_land',
 'area_water',
 'internal_point_lat',
 'internal_point_lon',
 'pop_est_2018',
 'pop_est_2019',
 'births_2019',
 'deaths_2019',
 'international_migr_2019',
 'domestic_migr_2019',
 'residual_2019']

In [48]:
df1.select(["state_name", "county_name", "pop_est_2019", "births_2019", "deaths_2019"]).show()

+----------+----------------+------------+-----------+-----------+
|state_name|     county_name|pop_est_2019|births_2019|deaths_2019|
+----------+----------------+------------+-----------+-----------+
|   Alabama|  Autauga County|       55869|        624|        541|
|   Alabama|  Baldwin County|      223234|       2304|       2326|
|   Alabama|  Barbour County|       24686|        256|        312|
|   Alabama|     Bibb County|       22394|        240|        252|
|   Alabama|   Blount County|       57826|        651|        657|
|   Alabama|  Bullock County|       10101|        109|        109|
|   Alabama|   Butler County|       19448|        213|        272|
|   Alabama|  Calhoun County|      113605|       1269|       1532|
|   Alabama| Chambers County|       33254|        354|        441|
|   Alabama| Cherokee County|       26196|        222|        343|
|   Alabama|  Chilton County|       44428|        551|        503|
|   Alabama|  Choctaw County|       12589|        133|        176|
|   Alabama|   Clarke County|       23622|        266|        324|
|   Alabama|     Clay County|       13235|        143|        187|
|   Alabama| Cleburne County|       14910|        187|        189|
|   Alabama|   Coffee County|       52342|        599|        570|
|   Alabama|  Colbert County|       55241|        630|        719|
|   Alabama|  Conecuh County|       12067|        123|        182|
|   Alabama|    Coosa County|       10663|         89|        122|
|   Alabama|Covington County|       37049|        413|        543|
+----------+----------------+------------+-----------+-----------+
only showing top 20 rows

In [49]:
#Fetch counties along with state_name where 'pop_est_2019' is greater than or equal to 50k
df1.select("state_name", "county_name", "pop_est_2019")\
    .where(col("pop_est_2019") > 50000)\
    .orderBy("pop_est_2019", ascending = False).show()

+----------+--------------------+------------+
|state_name|         county_name|pop_est_2019|
+----------+--------------------+------------+
|California|  Los Angeles County|    10039107|
|  Illinois|         Cook County|     5150233|
|     Texas|       Harris County|     4713325|
|   Arizona|     Maricopa County|     4485414|
|California|    San Diego County|     3338330|
|California|       Orange County|     3175692|
|   Florida|   Miami-Dade County|     2716940|
|     Texas|       Dallas County|     2635516|
|  New York|        Kings County|     2559903|
|California|    Riverside County|     2470546|
|    Nevada|        Clark County|     2266715|
|  New York|       Queens County|     2253858|
|Washington|         King County|     2252782|
|California|San Bernardino Co...|     2180085|
|     Texas|      Tarrant County|     2102515|
|     Texas|        Bexar County|     2003554|
|   Florida|      Broward County|     1952778|
|California|  Santa Clara County|     1927852|
|  Michigan|        Wayne County|     1749343|
|California|      Alameda County|     1671329|
+----------+--------------------+------------+
only showing top 20 rows

In [50]:
#Fetch counties along with state_name where 'pop_est_2019' is greater than or equal to 50k 
# and 'births_2019' > 500 order by state_name" - asc, "pop_est_2019" - desc, "births_2019" - asc in asc
df1.select("state_name", "county_name", "pop_est_2019", "births_2019")\
    .where((col("pop_est_2019") > 50000) & (col("births_2019") > 500))\
    .orderBy(["state_name", "pop_est_2019", "births_2019"], ascending = [True, False, True]).show()

+----------+-----------------+------------+-----------+
|state_name|      county_name|pop_est_2019|births_2019|
+----------+-----------------+------------+-----------+
|   Alabama| Jefferson County|      658573|       8422|
|   Alabama|    Mobile County|      413210|       5443|
|   Alabama|   Madison County|      372909|       4242|
|   Alabama|Montgomery County|      226486|       3058|
|   Alabama|   Baldwin County|      223234|       2304|
|   Alabama|    Shelby County|      217702|       2237|
|   Alabama|Tuscaloosa County|      209355|       2431|
|   Alabama|       Lee County|      164542|       1825|
|   Alabama|    Morgan County|      119679|       1402|
|   Alabama|   Calhoun County|      113605|       1269|
|   Alabama|   Houston County|      105882|       1304|
|   Alabama|    Etowah County|      102268|       1175|
|   Alabama| Limestone County|       98915|       1014|
|   Alabama|  Marshall County|       96774|       1395|
|   Alabama|Lauderdale County|       92729|        876|
|   Alabama| St. Clair County|       89512|        983|
|   Alabama|   Cullman County|       83768|        990|
|   Alabama|    Elmore County|       81209|        932|
|   Alabama| Talladega County|       79978|        844|
|   Alabama|    DeKalb County|       71513|        795|
+----------+-----------------+------------+-----------+
only showing top 20 rows

In [51]:
## Perform previous case but just fetch the details for "New York" state and "Texas" 

df1.select("state_name", "county_name", "pop_est_2019", "births_2019")\
    .where( 
        (col("pop_est_2019") > 50000) & 
        (col("births_2019") > 500) &  
        (col("state_name").isin(["New York", "Texas"])) 
            )\
    .orderBy(["state_name", "pop_est_2019", "births_2019"], ascending = [True, False, True]).show()

+----------+------------------+------------+-----------+
|state_name|       county_name|pop_est_2019|births_2019|
+----------+------------------+------------+-----------+
|  New York|      Kings County|     2559903|      37786|
|  New York|     Queens County|     2253858|      27453|
|  New York|   New York County|     1628706|      16968|
|  New York|    Suffolk County|     1476601|      15129|
|  New York|      Bronx County|     1418207|      19674|
|  New York|     Nassau County|     1356924|      14001|
|  New York|Westchester County|      967506|      10183|
|  New York|       Erie County|      918702|       9756|
|  New York|     Monroe County|      741770|       7762|
|  New York|   Richmond County|      476143|       5322|
|  New York|   Onondaga County|      460528|       4952|
|  New York|     Orange County|      384940|       5043|
|  New York|   Rockland County|      325789|       5370|
|  New York|     Albany County|      305506|       3024|
|  New York|   Dutchess County|      294218|       2584|
|  New York|   Saratoga County|      229863|       2103|
|  New York|     Oneida County|      228671|       2482|
|  New York|    Niagara County|      209281|       2067|
|  New York|     Broome County|      190488|       1920|
|  New York|     Ulster County|      177573|       1433|
+----------+------------------+------------+-----------+
only showing top 20 rows

24/06/08 21:13:09 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors